* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif !important;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  background-color: #ededed;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1330px;
  /* font-family: "Lato", sans-serif; */
}

.line {
  width: 100%;
  max-width: 800px;
  height: 8px;
  margin: 0 0 10px 0;
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 1);
}

.orangeWrapper {
  padding: 0;
}
